<!DOCTYPE html>
<html>
  <head>
    <title>Automatic Scheduler</title>
  </head>
  <body>
    <h1>My Tasks</h1>

  <hr>
    <a href="/">Back to the Main Menu</a>
    <hr>
    <br>

<h2>Add Task</h2>
<form action="/add" method="POST">
  <input type="text" name="name" placeholder="Task name" required>
  <input type="number" name="duration" placeholder="Duration (min)" required>
  <input type="number" name="deadline" placeholder="Deadline" required>
  <input type="number" name="priority" placeholder="Priority" required>
  <input type="number" name="difficulty" placeholder="Difficulty" required>
  
  <button type="submit">Add Task</button>
</form> 

<br/>
<h2>List of Tasks</h2>

<ul>
  {% for task in tasks %}
    <li>
    {% if task.completed %}
      <s>Task ID: {{ task.id }} - Task Name: {{ task.name }} - Duration: {{ task.duration }} min - Deadline: {{ task.deadline }} - Priority: {{ task.priority }} - Difficulty: {{ task.difficulty }}</s>
    {% else %}
      Task ID: {{ task.id }} - Task Name: {{ task.name }} - Duration: {{ task.duration }} min - Deadline: {{ task.deadline }} - Priority: {{ task.priority }} - Difficulty: {{ task.difficulty }}
    {% endif %}

    <a href="/complete/{{ task.id }}">
    <button>✔</button>
    </a>
    
    <a href="/delete/{{ task.id }}">
      <button>Delete</button>
    </a>
    </li>
    
  {% endfor %}
</ul>

<br/>
<br/>

  </body>
</html>