<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>My Tasks</h1>

    <h2>Add Task</h2>

<form action="/add" method="POST">
  <input type="text" name="name" placeholder="Task name" required>
  <input type="number" name="duration" placeholder="Duration (min)" required>
  <input type="number" name="deadline" placeholder="Deadline" required>
  <input type="number" name="priority" placeholder="Priority" required>
  <input type="number" name="difficulty" placeholder="Difficulty" required>
  
  <button type="submit">Add Task</button>
</form>


<ul>
  {% for task in tasks %}
    <li>{{ task.name }} - {{ task.duration }} min - Deadline: {{ task.deadline }} - Priority {{ task.priority }} - Difficulty {{ task.difficulty }}</li>
  {% endfor %}
</ul>

  </body>
</html>